.container {
    width: 100%;
    text-align: center;
}

.stream-input {
    display: inline-block;
    width: 60%; /* Make the input field 100% wide */
    max-width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px; /* Add some spacing between the input and button */
}

.button {
    display: inline-block;
    padding: 10px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    min-width: 90px;
    margin-top: 20px;
}


.warn {
    background-color: #ffd700;
    color: #fff;
}

.button.warn:hover {
    background-color: #ffd700; /* Darker blue on hover */
}


.copy-button {
    margin-left: 20px;
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

#copy-button.copied:before {
    content: "✔️";
    position: absolute;
    margin-left: -20px;
    animation: fadeInOut 3s linear;
    color: white;
    filter: invert(1); 
}

.button:hover {
    background-color: #003f80; /* Darker blue on hover */
}

.button:disabled {
    background-color: #ccc; /* Change background color for disabled state */
    cursor: not-allowed; /* Change cursor style to indicate not allowed */
    color: #888; /* Change text color for disabled state */
}

.workers {
    font-size: 14px;
    font-style: italic;
}

/* Hover effect */
.stop-button:hover {
    background-color: #CC0000; /* Darker red on hover */
}

.page-title {
    text-align: center; /* Center the title horizontally */
    font-size: 36px; /* Increase the font size for a larger and fancier title */
    color: #0056b3; /* Set the color of the title (you can choose your desired color) */
    margin-top: 20px; /* Add some top margin for spacing */
    text-transform: uppercase; /* Convert text to uppercase for a stylish look */
    letter-spacing: 2px; /* Add letter spacing for a decorative effect */
    font-weight: bold; /* Add bold styling for emphasis */
}

.record-area {
    width: 100%; 
    padding-top: 5px;
    margin-bottom: 5px;
    min-height: 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    white-space: pre-wrap;
    line-height: 1.0;
    box-sizing: border-box;
}

.record-area-container {
    width: 100%; 
    min-height: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    line-height: 1.0;
}

.res-div {
    display: inline-block;
    width: 100%; 
    font-size: 20px;
    color: #003f80;
    text-align: left;
    text-indent: 20px;
}

.partial-div {
    display: inline-block;
    width: 100%; 
    font-size: 20px;
    /* color: #CC0000; */
    text-align: left;
    text-indent: 20px;
    line-height: 1.5;
}

.debug-container {
    position: relative; 
    width: 95%;
    max-width: 800px;
    /* border: 2px solid #ccc;
    border-radius: 5px; */
    margin: 0 auto;
    padding-top: 10px; 
    padding-bottom: 10px; 
    margin-top: 10px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Style the page content (adjust this as needed) */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin-bottom: 50px; /* Ensure there's space for the footer */
}

/* Style the footer */
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    padding: 0px 0;
    font-size: 10px;
    color: #333; 
    width: 200px; 
}

.stop-button {
    display: inline-block;
    position: relative;
    padding: 10px;
    background-color: #FF4444; /* Red color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    min-width: 100px;
    margin-top: 20px;
}

.stop-button canvas {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background-color: transparent;
    opacity: 0.9;
}  

.stop-button span {
    position: relative;
    z-index: 1;
}  

.left-container {
    float: left;
    margin-right: 10px;
}

.record-checkbox {
    float: right;
    margin-left: 10px;
}

.line-container {
    display: flex;
    align-items: center; /* Vertically center the items */
}
