<!DOCTYPE html>
<html>

<head>
    <base href="<%= BASE_HREF %>" />
    <title>Polis Transcribuoklis</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
    <!-- <h1 class="page-title">Dokumentas</h1> -->
    <div class="debug-container" id="transcriber" kaldi_url="<%= KALDI_URL %>">
        <audio id="recordedAudio" controls>
            Your browser does not support the audio element.
        </audio>
        <span>Aprašymas</span>
        <div id="record-area" class="record-area editable" contenteditable="true"></div>
        <div class="container">
            <button id="start-button" class="button">Įrašyti</button>
            <button id="stop-button" class="button stop-button" style="display: none;" >
                <canvas id="waveform"></canvas>
                <span>Stop</span>
            </button>
            <button id="copy-button" class="button copy-button" >
                <span>Kopijuoti</span>
            </button>
        </div>
    </div>

    <footer>
        <p>&copy; 2023 VDU.lt. All rights reserved.</p>
    </footer>
</body>

</html>