<!DOCTYPE html>
<html>

<head>
    <base href="<%= BASE_HREF %>" />
    <title>Polis Transcribuoklis</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
    <!-- <h1 class="page-title">Dokumentas</h1> -->
    <div class="debug-container" id="transcriber" kaldi_url="<%= KALDI_URL %>" punctuation_url="<%= PUNCTUATION_URL %>">
        <div>
            <audio id="recordedAudio" controls>
                Your browser does not support the audio element.
            </audio>
        </div>

        <span>Aprašymas</span>
        <div id="record-area-container" class="record-area-container"></div>
        <div class="container">
            <div class="left-container">
                <button id="clear-button" class="button">Išvalyti</button>
            </div>

            <button id="start-button" class="button">Įrašyti</button>
            <button id="stop-button" class="button stop-button" style="display: none;">
                <canvas id="waveform"></canvas>
                <span>Stop</span>
            </button>
            <div class="right-container">
                <button id="copy-button" class="button copy-button">
                    <span>Kopijuoti</span>
                </button>
                <button id="select-button" class="button select-button">
                    <span>Pažymėti visus</span>
                </button>
            </div>
        </div>

        <footer>
            <p>&copy; 2023 VDU.lt. All rights reserved.</p>
        </footer>
</body>

</html>